<launch>
        <param name="/run_state" type="int" value="0" />
        <param name="/side_state" type="int" value="1" />
        <param name="/mission_waitTime" type="double" value="1" />
        <rosparam param="/missionTime_correct_Type">[72,83,65,66,70,71,81,82]</rosparam>
        <rosparam param="/missionTime_correct_Num">[1.0,2.5,0.4,0.4,0.4,0.4,1,0.4]</rosparam>
    <node name="Main_Node_beta" pkg="main_2022" type="main_2022_beta" output="screen">
    </node>
</launch>